/* GENERAL */

:root {
  --violet-color: violet;
  --blue-color: #0ff;
}
body {
  margin: 0;
  background-color: rgb(200, 200, 200);
  min-height: 100vh;
  font-family: "Quicksand", sans-serif; /* font */
  display: flex; /* Attiva Flexbox */
  flex-direction: column; /* Organizza gli elementi in colonna */
}
main {
  flex-grow: 1; /* Permette al main di occupare tutto lo spazio disponibile */
}
header {
  text-align: center; /* Centra il testo all'interno dell'header */
  padding-top: 20px; /* Aggiunge spazio sopra il titolo */
}
/* BOUNCING ANIMATION */
.bouncing {
  margin-bottom: 25px;
  width: 100%; /* Assicura che occupi la larghezza */
}
.bouncing h1 {
  font-size: 3rem;
  text-align: center;
  perspective: 500px;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 1);
}
span {
  color: rgb(58, 58, 58);
  font-size: 3rem;
  position: relative;
  display: inline-block;
  animation: bounce 1s ease infinite alternate,
    shadow-pulse 1s ease infinite alternate;
  margin-bottom: 30px;
  font-weight: normal;
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
h1 span:nth-child(11) {
  animation-delay: 1s;
}
h1 span:nth-child(12) {
  animation-delay: 1.1s;
}
h1 span:nth-child(13) {
  animation-delay: 1.2s;
}
h1 span:nth-child(14) {
  animation-delay: 1.3s;
}
h1 span:nth-child(15) {
  animation-delay: 1.4s;
}
h1 span:nth-child(16) {
  animation-delay: 1.5s;
}
h1 span:nth-child(17) {
  animation-delay: 1.6s;
}
h1 span:nth-child(18) {
  animation-delay: 1.7s;
}
h1 span:nth-child(19) {
  animation-delay: 1.8s;
}
@keyframes bounce {
  0% {
    top: 20px;
  }
  100% {
    top: -20px;
  }
}
@keyframes shadow-pulse {
  0% {
    /* Quando la lettera è in basso, l'ombra è più grande e visibile */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    /* Quando la lettera è in alto, l'ombra è più piccola e sfuocata */
    text-shadow: 0 10px 15px rgba(0, 0, 0, 1);
  }
}

/* ORB SECTION */
.orb-section {
  border-top: solid 2px rgb(58, 58, 58);
  border-bottom: solid 2px rgb(58, 58, 58);
  padding-bottom: 10em;
  width: 100%;
  box-sizing: border-box;
}
.orb-section h2 {
  color: rgb(58, 58, 58);
  margin-left: 5rem;
  font-size: 3rem;
  font-weight: normal;
}
.orb {
  animation: vertical-movement 2s ease-in-out infinite alternate,
    spin 4s linear infinite;
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0 0 50px white, inset 20px 0 60px var(--violet-color),
    inset -20px 0 60px var(--blue-color), inset 20px 0 300px var(--violet-color),
    inset -20px 0 300px var(--blue-color), 0 0 50px white,
    -10px 0 60px var(--violet-color), 10px 0 60px var(--blue-color);
}
@keyframes vertical-movement {
  0% {
    top: 20px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 20px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LOOP SECTION */
.loop-section {
  border-bottom: solid 2px rgb(58, 58, 58);
  padding-bottom: 10em;
  width: 100%;
  box-sizing: border-box;
  display: flex; /* Aggiungi flexbox per centrare */
  flex-direction: column; /* Organizza gli elementi in colonna */
  align-items: center; /* Centra orizzontalmente gli elementi figli */
}
.loop-section h2 {
  color: rgb(58, 58, 58);
  margin-left: 5rem;
  font-size: 3rem;
  font-weight: normal;
  align-self: flex-start; /* Allinea il titolo a sinistra all'interno del flex container */
}
.loop {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  animation: spin 8s linear infinite;
  margin: auto;
}
.loop::before,
.loop::after {
  content: "";
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 -20px;
  background: conic-gradient(
    from 90deg,
    var(--blue-color),
    var(--violet-color),
    var(--blue-color)
  );
  mask: radial-gradient(transparent 26px, black 27px);
  -webkit-mask: radial-gradient(transparent 26px, black 27px);
  animation: hueShift 6s linear infinite;
}
.loop::after {
  background: conic-gradient(
    from 270deg,
    var(--violet-color),
    var(--blue-color),
    var(--violet-color)
  );
  transform: translateY(1px) rotateX(-1deg);
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes hueShift {
  0% {
    transform: hue-rotate(0deg);
  }
  100% {
    transform: hue-rotate(360deg);
  }
}

/* FOOTER */
footer {
  width: 100%; /* Larghezza del footer */
  text-align: center; /* Centra il testo del footer */
  padding: 10px; /* Padding interno per il footer */
  font-family: "Quicksand", sans-serif; /* Font del footer */
  font-size: 1rem; /* Dimensione del testo del footer */
  margin-top: auto; /* Spinge il footer in fondo alla pagina */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 3px black; /* Colore di sfondo del footer */
  border-top: solid 1px rgba(0, 0, 0, 0.1); /* Bordo superiore per il footer */
  text-decoration: none; /* Rimuove la sottolineatura dal testo del footer */
}
/* Footer <a/> style */
footer a {
  color: rgb(58, 58, 58); /* Colore del link nel footer */
  text-decoration: none; /* Rimuove la sottolineatura dal link */
}
footer a:hover {
  background: linear-gradient(to right, var(--blue-color), var(--violet-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.5); /* Piccolo ingrandimento al hover */
  color: var(--blue-color); /* Colore del link attivo nel footer */
  cursor: pointer; /* Cambia il cursore al passaggio del mouse */
  text-decoration: underline; /* Sottolinea il link al passaggio del mouse */
}
