/* GENERAL */
:root {
  /* Selettore per la root del documento HTML, definisce le variabili CSS globali */
  --violet-color: violet; /* Definisce una variabile CSS per il colore violetto */
  --blue-color: #0ff; /* Definisce una variabile CSS per il colore ciano */
}
body {
  /* Selettore per l'elemento body del documento HTML */
  margin: 0; /* Rimuove il margine esterno predefinito dal body */
  background-color: rgb(
    200,
    200,
    200
  ); /* Imposta il colore di sfondo del body */
  min-height: 100vh; /* Imposta l'altezza minima del body al 100% dell'altezza della viewport */
  font-family: "Quicksand", sans-serif; /* Imposta il font principale per il testo */
  display: flex; /* Imposta il display del body come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
}
main {
  /* Selettore per l'elemento main */
  flex-grow: 1; /* Permette all'elemento main di espandersi per occupare lo spazio disponibile */
}
header {
  /* Selettore per l'elemento header */
  text-align: center; /* Allinea il testo al centro all'interno dell'header */
  padding-top: 20px; /* Aggiunge un padding superiore di 20px all'header */
}
/* BOUNCING TITLE */
.bouncing {
  /* Selettore per la classe .bouncing */
  margin-bottom: 25px; /* Aggiunge un margine inferiore di 25px */
  width: 100%; /* Imposta la larghezza al 100% */
}
.bouncing h1 {
  /* Selettore per l'elemento h1 all'interno di .bouncing */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  text-align: center; /* Allinea il testo al centro */
  perspective: 500px; /* Applica una prospettiva per effetti 3D */
  text-shadow: 0 5px 5px rgba(0, 0, 0, 1); /* Aggiunge un'ombra al testo */
}
span {
  /* Selettore per l'elemento span */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  position: relative; /* Imposta il posizionamento relativo */
  display: inline-block; /* Imposta il display come blocco in linea */
  animation: bounce 1s ease infinite alternate,
    /* Applica due animazioni: "bounce" e "shadow-pulse" */ shadow-pulse 1s ease
      infinite alternate;
  margin-bottom: 30px; /* Aggiunge un margine inferiore di 30px */
  font-weight: normal; /* Imposta il peso del font a normale */
}
h1 span:nth-child(2) {
  /* Selettore per il secondo span all'interno di un h1 */
  animation-delay: 0.1s; /* Ritarda l'animazione di 0.1 secondi */
}
h1 span:nth-child(3) {
  /* Selettore per il terzo span all'interno di un h1 */
  animation-delay: 0.2s; /* Ritarda l'animazione di 0.2 secondi */
}
h1 span:nth-child(4) {
  /* Selettore per il quarto span all'interno di un h1 */
  animation-delay: 0.3s; /* Ritarda l'animazione di 0.3 secondi */
}
h1 span:nth-child(5) {
  /* Selettore per il quinto span all'interno di un h1 */
  animation-delay: 0.4s; /* Ritarda l'animazione di 0.4 secondi */
}
h1 span:nth-child(6) {
  /* Selettore per il sesto span all'interno di un h1 */
  animation-delay: 0.5s; /* Ritarda l'animazione di 0.5 secondi */
}
h1 span:nth-child(7) {
  /* Selettore per il settimo span all'interno di un h1 */
  animation-delay: 0.6s; /* Ritarda l'animazione di 0.6 secondi */
}
h1 span:nth-child(8) {
  /* Selettore per l'ottavo span all'interno di un h1 */
  animation-delay: 0.7s; /* Ritarda l'animazione di 0.7 secondi */
}
h1 span:nth-child(9) {
  /* Selettore per il nono span all'interno di un h1 */
  animation-delay: 0.8s; /* Ritarda l'animazione di 0.8 secondi */
}
h1 span:nth-child(10) {
  /* Selettore per il decimo span all'interno di un h1 */
  animation-delay: 0.9s; /* Ritarda l'animazione di 0.9 secondi */
}
h1 span:nth-child(11) {
  /* Selettore per l'undicesimo span all'interno di un h1 */
  animation-delay: 1s; /* Ritarda l'animazione di 1 secondo */
}
h1 span:nth-child(12) {
  /* Selettore per il dodicesimo span all'interno di un h1 */
  animation-delay: 1.1s; /* Ritarda l'animazione di 1.1 secondi */
}
h1 span:nth-child(13) {
  /* Selettore per il tredicesimo span all'interno di un h1 */
  animation-delay: 1.2s; /* Ritarda l'animazione di 1.2 secondi */
}
h1 span:nth-child(14) {
  /* Selettore per il quattordicesimo span all'interno di un h1 */
  animation-delay: 1.3s; /* Ritarda l'animazione di 1.3 secondi */
}
h1 span:nth-child(15) {
  /* Selettore per il quindicesimo span all'interno di un h1 */
  animation-delay: 1.4s; /* Ritarda l'animazione di 1.4 secondi */
}
h1 span:nth-child(16) {
  /* Selettore per il sedicesimo span all'interno di un h1 */
  animation-delay: 1.5s; /* Ritarda l'animazione di 1.5 secondi */
}
h1 span:nth-child(17) {
  /* Selettore per il diciassettesimo span all'interno di un h1 */
  animation-delay: 1.6s; /* Ritarda l'animazione di 1.6 secondi */
}
h1 span:nth-child(18) {
  /* Selettore per il diciottesimo span all'interno di un h1 */
  animation-delay: 1.7s; /* Ritarda l'animazione di 1.7 secondi */
}
h1 span:nth-child(19) {
  /* Selettore per il diciannovesimo span all'interno di un h1 */
  animation-delay: 1.8s; /* Ritarda l'animazione di 1.8 secondi */
}
@keyframes bounce {
  /* Definizione dell'animazione "bounce" */
  0% {
    /* Stato iniziale dell'animazione */
    top: 20px; /* Posizione iniziale dall'alto */
  }
  100% {
    /* Stato finale dell'animazione */
    top: -20px; /* Posizione finale dall'alto */
  }
}
@keyframes shadow-pulse {
  /* Definizione dell'animazione "shadow-pulse" */
  0% {
    /* Stato iniziale dell'animazione */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Ombra del testo iniziale */
  }
  100% {
    /* Stato finale dell'animazione */
    text-shadow: 0 10px 15px rgba(0, 0, 0, 1); /* Ombra del testo finale */
  }
}
/*ORB SECTION */
.orb-section {
  /* Selettore per la classe .orb-section */
  border-top: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo superiore solido */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
}
.orb-section h2 {
  /* Selettore per l'elemento h2 all'interno di .orb-section */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
}
.orb {
  /* Selettore per la classe .orb */
  animation: vertical-movement 2s ease-in-out infinite alternate,
    /* Applica due animazioni: "vertical-movement" e "spin" */ spin 4s linear
      infinite;
  width: 200px; /* Imposta la larghezza a 200px */
  height: 200px; /* Imposta l'altezza a 200px */
  margin: auto; /* Centra l'elemento orizzontalmente */
  margin-top: 100px; /* Aggiunge un margine superiore di 100px */
  border-radius: 50%; /* Rende l'elemento circolare */
  position: relative; /* Imposta il posizionamento relativo */
  box-shadow: inset 0 0 50px white, inset 20px 0 60px var(--violet-color),
    /* Applica molteplici ombre interne ed esterne */ inset -20px 0 60px var(--blue-color),
    inset 20px 0 300px var(--violet-color),
    inset -20px 0 300px var(--blue-color), 0 0 50px white,
    -10px 0 60px var(--violet-color), 10px 0 60px var(--blue-color);
}
@keyframes vertical-movement {
  /* Definizione dell'animazione "vertical-movement" */
  0% {
    /* Stato iniziale dell'animazione */
    top: 20px; /* Posizione iniziale dall'alto */
  }
  50% {
    /* Stato intermedio dell'animazione */
    top: 50px; /* Posizione intermedia dall'alto */
  }
  100% {
    /* Stato finale dell'animazione */
    top: 20px; /* Posizione finale dall'alto */
  }
}
@keyframes spin {
  /* Definizione dell'animazione "spin" */
  from {
    /* Stato iniziale dell'animazione */
    transform: rotate(0deg); /* Rotazione iniziale di 0 gradi */
  }
  to {
    /* Stato finale dell'animazione */
    transform: rotate(360deg); /* Rotazione finale di 360 gradi */
  }
}
/* LOOP SECTION */
.loop-section {
  /* Selettore per la classe .loop-section */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  display: flex; /* Imposta il display come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
}
.loop-section h2 {
  /* Selettore per l'elemento h2 all'interno di .loop-section */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  align-self: flex-start; /* Allinea l'elemento all'inizio dell'asse trasversale */
}
.loop {
  /* Selettore per la classe .loop */
  display: flex; /* Imposta il display come flex container */
  justify-content: center; /* Centra gli elementi lungo l'asse principale */
  transform-style: preserve-3d; /* Permette agli elementi figli di mantenere la loro trasformazione 3D */
  width: 200px; /* Imposta la larghezza a 200px */
  height: 200px; /* Imposta l'altezza a 200px */
  animation: spin 2s linear infinite; /* Applica l'animazione "spin" */
  margin: auto; /* Centra l'elemento orizzontalmente */
}
.loop::before, /* Selettore per lo pseudo-elemento ::before di .loop */
.loop::after {
  /* Selettore per lo pseudo-elemento ::after di .loop */
  content: ""; /* Imposta il contenuto vuoto */
  width: 80px; /* Imposta la larghezza a 80px */
  height: 80px; /* Imposta l'altezza a 80px */
  border-radius: 50%; /* Rende gli pseudo-elementi circolari */
  margin: 0 -20px; /* Aggiunge un margine orizzontale negativo */
  background: conic-gradient(
    /* Applica un gradiente conico */ from 90deg,
    var(--blue-color),
    var(--violet-color),
    var(--blue-color)
  );
  mask: radial-gradient(
    transparent 26px,
    black 27px
  ); /* Applica una maschera radiale */
  -webkit-mask: radial-gradient(
    transparent 26px,
    black 27px
  ); /* Maschera radiale per WebKit */
  animation: hueShift 6s linear infinite; /* Applica l'animazione "hueShift" */
}
.loop::after {
  /* Selettore specifico per lo pseudo-elemento ::after di .loop */
  background: conic-gradient(
    /* Applica un gradiente conico diverso */ from 270deg,
    var(--violet-color),
    var(--blue-color),
    var(--violet-color)
  );
  transform: translateY(1px) rotateX(-1deg); /* Applica una traslazione e una rotazione */
}
@keyframes spin {
  /* Definizione dell'animazione "spin" */
  0% {
    /* Stato iniziale dell'animazione */
    transform: rotateZ(0deg); /* Rotazione sull'asse Z di 0 gradi */
  }
  100% {
    /* Stato finale dell'animazione */
    transform: rotateZ(360deg); /* Rotazione sull'asse Z di 360 gradi */
  }
}
@keyframes hueShift {
  /* Definizione dell'animazione "hueShift" */
  0% {
    /* Stato iniziale dell'animazione */
    transform: hue-rotate(0deg); /* Rotazione della tonalità di 0 gradi */
  }
  100% {
    /* Stato finale dell'animazione */
    transform: hue-rotate(360deg); /* Rotazione della tonalità di 360 gradi */
  }
}
/* BALLS LOADER SECTION */
.balls-loader-section {
  /* Selettore per la classe .loader-section */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  display: flex; /* Imposta il display come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
}
.balls-loader-section h2 {
  /* Selettore per l'elemento h2 all'interno di .loader-section */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  align-self: flex-start; /* Allinea l'elemento all'inizio dell'asse trasversale */
}
.balls-container {
  /* Selettore per la classe .balls-container */
  display: flex; /* Imposta il display come flex container */
  justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
  align-items: flex-end; /* Allinea gli elementi al fondo dell'asse trasversale */
  width: 130px; /* Imposta la larghezza a 130px */
  height: 90px; /* Imposta l'altezza a 90px */
  margin-top: 50px; /* Aggiunge un margine superiore di 50px */
  position: relative; /* Imposta il posizionamento relativo */
}
.balls {
  /* Selettore per la classe .balls */
  width: 35px; /* Imposta la larghezza a 35px */
  height: 35px; /* Imposta l'altezza a 35px */
  box-shadow: inset 0 0 10px white, inset 5px 0 15px var(--violet-color),
    /* Applica ombre interne ed esterne */ inset -5px 0 15px var(--blue-color),
    0 0 10px white, -3px 0 15px var(--violet-color),
    3px 0 15px var(--blue-color);
  background-color: transparent; /* Imposta il colore di sfondo trasparente */
  border-radius: 50%; /* Rende l'elemento circolare */
  transform-origin: 50%; /* Imposta il punto di origine delle trasformazioni al centro */
  animation: balls-animation 0.5s alternate infinite ease; /* Applica l'animazione "balls-animation" */
}
.balls:nth-child(1) {
  /* Selettore per il primo elemento .balls */
  animation-delay: 0s; /* Nessun ritardo nell'animazione */
}
.balls:nth-child(2) {
  /* Selettore per il secondo elemento .balls */
  animation-delay: 0.2s; /* Ritarda l'animazione di 0.2 secondi */
}
.balls:nth-child(3) {
  /* Selettore per il terzo elemento .balls */
  animation-delay: 0.4s; /* Ritarda l'animazione di 0.4 secondi */
}
@keyframes balls-animation {
  /* Definizione dell'animazione "balls-animation" */
  0% {
    /* Stato iniziale dell'animazione */
    transform: translateY(0) scaleX(1.5); /* Traslazione verticale e scala orizzontale */
    height: 5px; /* Altezza iniziale */
    border-radius: 50px 50px 25px 25px; /* Raggio del bordo per creare una forma appiattita */
  }
  40% {
    /* Stato al 40% dell'animazione */
    transform: translateY(-65px) scaleX(1); /* Traslazione verticale e scala orizzontale */
    height: 35px; /* Altezza al 40% */
    border-radius: 50%; /* Raggio del bordo per creare un cerchio perfetto */
  }
  100% {
    /* Stato finale dell'animazione */
    transform: translateY(-85px); /* Traslazione verticale finale */
  }
}
.shadows-container {
  /* Selettore per la classe .shadows-container */
  position: absolute; /* Imposta il posizionamento assoluto */
  bottom: 3px; /* Posiziona a 3px dal fondo */
  width: 100%; /* Imposta la larghezza al 100% */
  display: flex; /* Imposta il display come flex container */
  justify-content: space-between; /* Distribuisce lo spazio tra gli elementi */
}
.balls-shadow {
  /* Selettore per la classe .balls-shadow */
  width: 35px; /* Imposta la larghezza a 35px */
  height: 6px; /* Imposta l'altezza a 6px */
  background-color: rgba(
    0,
    0,
    0,
    0.8
  ); /* Imposta il colore di sfondo con opacità */
  border-radius: 50%; /* Rende l'elemento circolare */
  transform-origin: 50%; /* Imposta il punto di origine delle trasformazioni al centro */
  z-index: -1; /* Imposta l'ordine di sovrapposizione dietro agli altri elementi */
  filter: blur(0.4px); /* Applica un filtro di sfocatura */
  animation: shadow-animation 0.5s alternate infinite ease; /* Applica l'animazione "shadow-animation" */
}
.shadows-container .balls-shadow:nth-child(1) {
  /* Selettore per il primo .balls-shadow all'interno di .shadows-container */
  animation-delay: 0s; /* Nessun ritardo nell'animazione */
}
.shadows-container .balls-shadow:nth-child(2) {
  /* Selettore per il secondo .balls-shadow all'interno di .shadows-container */
  animation-delay: 0.2s; /* Ritarda l'animazione di 0.2 secondi */
}
.shadows-container .balls-shadow:nth-child(3) {
  /* Selettore per il terzo .balls-shadow all'interno di .shadows-container */
  animation-delay: 0.4s; /* Ritarda l'animazione di 0.4 secondi */
}
@keyframes shadow-animation {
  /* Definizione dell'animazione "shadow-animation" */
  0% {
    /* Stato iniziale dell'animazione */
    transform: scaleX(1.5); /* Scala orizzontale */
    opacity: 0.8; /* Opacità iniziale */
  }
  40% {
    /* Stato al 40% dell'animazione */
    transform: scaleX(1); /* Scala orizzontale */
    opacity: 0.7; /* Opacità al 40% */
  }
  100% {
    /* Stato finale dell'animazione */
    transform: scaleX(0.2); /* Scala orizzontale finale */
    opacity: 0.4; /* Opacità finale */
  }
}
/* BOX LOADER SECTION */
.box-loader-section {
  /* Selettore per la classe .loader-section */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  display: flex; /* Imposta il display come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
}
.box-loader-section h2 {
  /* Selettore per l'elemento h2 all'interno di .loader-section */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  align-self: flex-start; /* Allinea l'elemento all'inizio dell'asse trasversale */
}
.box-loader {
  /* Selettore per la classe .box-loader */
  width: 48px; /* Imposta la larghezza a 48px */
  height: 48px; /* Imposta l'altezza a 48px */
  margin: auto; /* Centra l'elemento orizzontalmente */
  position: relative; /* Imposta il posizionamento relativo */
}
.box-loader:before {
  /* Selettore per lo pseudo-elemento ::before di .box-loader */
  content: ""; /* Imposta il contenuto vuoto */
  width: 48px; /* Imposta la larghezza a 48px */
  height: 5px; /* Imposta l'altezza a 5px */
  box-shadow: inset 0 0 10px white, inset 5px 0 15px var(--violet-color),
    /* Applica ombre interne ed esterne */ inset -5px 0 15px var(--blue-color),
    0 0 10px white, -3px 0 15px var(--violet-color),
    3px 0 15px var(--blue-color);
  background-color: transparent; /* Imposta il colore di sfondo trasparente */
  position: absolute; /* Imposta il posizionamento assoluto */
  top: 60px; /* Posiziona a 60px dal top */
  left: 0; /* Posiziona a 0px da sinistra */
  border-radius: 50%; /* Rende l'elemento circolare */
  animation: shadow324 0.5s linear infinite; /* Applica l'animazione "shadow324" */
}
.box-loader:after {
  /* Selettore per lo pseudo-elemento ::after di .box-loader */
  content: ""; /* Imposta il contenuto vuoto */
  width: 100%; /* Imposta la larghezza al 100% */
  height: 100%; /* Imposta l'altezza al 100% */
  background: radial-gradient(
    /* Applica un gradiente radiale */ circle at center,
    rgba(255, 255, 255, 0.9) 0%,
    /* Bianco più dominante, leggermente trasparente */ rgba(239, 159, 255, 0.5)
      45%,
    /* Violetto con 50% di opacità */ rgba(147, 255, 255, 0.4) 85%
      /* Ciano con 40% di opacità */
  );
  position: absolute; /* Imposta il posizionamento assoluto */
  top: 0; /* Posiziona a 0px dal top */
  left: 0; /* Posiziona a 0px da sinistra */
  border-radius: 4px; /* Imposta il raggio del bordo a 4px */
  animation: jump7456 0.5s linear infinite; /* Applica l'animazione "jump7456" */
}
@keyframes jump7456 {
  /* Definizione dell'animazione "jump7456" */
  15% {
    /* Stato al 15% dell'animazione */
    border-bottom-right-radius: 3px; /* Imposta il raggio del bordo inferiore destro */
  }
  25% {
    /* Stato al 25% dell'animazione */
    transform: translateY(9px) rotate(22.5deg); /* Traslazione verticale e rotazione */
  }
  50% {
    /* Stato al 50% dell'animazione */
    transform: translateY(18px) scale(1, 0.9) rotate(45deg); /* Traslazione, scala e rotazione */
    border-bottom-right-radius: 40px; /* Imposta il raggio del bordo inferiore destro */
  }
  75% {
    /* Stato al 75% dell'animazione */
    transform: translateY(9px) rotate(67.5deg); /* Traslazione verticale e rotazione */
  }
  100% {
    /* Stato finale dell'animazione */
    transform: translateY(0) rotate(90deg); /* Traslazione verticale e rotazione finale */
  }
}
@keyframes shadow324 {
  /* Definizione dell'animazione "shadow324" */
  0%,
  100% {
    /* Stato iniziale e finale dell'animazione */
    transform: scale(1, 1); /* Scala orizzontale e verticale */
  }
  50% {
    /* Stato al 50% dell'animazione */
    transform: scale(1.2, 1); /* Scala orizzontale */
  }
}
/* MAGIC CARD */
.card-section {
  /* Selettore per la classe .loader-section */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  display: flex; /* Imposta il display come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
}
.card-section h2 {
  /* Selettore per l'elemento h2 all'interno di .loader-section */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  align-self: flex-start; /* Allinea l'elemento all'inizio dell'asse trasversale */
}
.card {
  /* Selettore per la classe .card */
  --background: linear-gradient(
    /* Definisce una variabile CSS per il gradiente di sfondo */ to left,
    var(--blue-color) 0%,
    var(--violet-color) 100%
  );
  width: 190px; /* Imposta la larghezza a 190px */
  height: 254px; /* Imposta l'altezza a 254px */
  padding: 5px; /* Aggiunge un padding di 5px */
  border-radius: 1rem; /* Imposta il raggio del bordo a 1rem */
  overflow: visible; /* Permette al contenuto di fuoriuscire dal bordo */
  background: white; /* Imposta il colore di sfondo a bianco */
  background: var(--background); /* Applica il gradiente di sfondo definito */
  position: relative; /* Imposta il posizionamento relativo */
  z-index: 1; /* Imposta l'ordine di sovrapposizione */
}
.card::after {
  /* Selettore per lo pseudo-elemento ::after di .card */
  position: absolute; /* Imposta il posizionamento assoluto */
  content: ""; /* Imposta il contenuto vuoto */
  top: 30px; /* Posiziona a 30px dal top */
  left: 0; /* Posiziona a 0px da sinistra */
  right: 0; /* Posiziona a 0px da destra */
  z-index: -1; /* Imposta l'ordine di sovrapposizione dietro agli altri elementi */
  height: 100%; /* Imposta l'altezza al 100% */
  width: 100%; /* Imposta la larghezza al 100% */
  transform: scale(0.8); /* Ridimensiona l'elemento */
  filter: blur(25px); /* Applica un filtro di sfocatura */
  background: white; /* Imposta il colore di sfondo a bianco */
  background: var(--background); /* Applica il gradiente di sfondo definito */
  transition: opacity 0.5s; /* Applica una transizione all'opacità */
}
.card-info {
  /* Selettore per la classe .card-info */
  --color: #181818; /* Definisce una variabile CSS per il colore del testo */
  background: var(--color); /* Imposta il colore di sfondo */
  color: var(--color); /* Imposta il colore del testo */
  display: flex; /* Imposta il display come flex container */
  justify-content: center; /* Centra gli elementi lungo l'asse principale */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
  width: 100%; /* Imposta la larghezza al 100% */
  height: 100%; /* Imposta l'altezza al 100% */
  overflow: visible; /* Permette al contenuto di fuoriuscire dal bordo */
  border-radius: 0.7rem; /* Imposta il raggio del bordo a 0.7rem */
}
.card .title {
  /* Selettore per l'elemento .title all'interno di .card */
  font-weight: bold; /* Imposta il peso del font a grassetto */
  letter-spacing: 0.1em; /* Imposta la spaziatura tra le lettere */
}
.card:hover::after {
  /* Selettore per lo pseudo-elemento ::after di .card al passaggio del mouse */
  opacity: 0; /* Imposta l'opacità a 0 */
}
.card:hover .card-info {
  /* Selettore per l'elemento .card-info all'interno di .card al passaggio del mouse */
  color: white; /* Imposta il colore del testo a bianco */
  transition: color 1s; /* Applica una transizione al colore del testo */
}
/* HOLE */
.hole-section {
  /* Selettore per la classe .loader-section */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  display: flex; /* Imposta il display come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
  background-color: rgb(58, 58, 58);
}
.hole-section h2 {
  /* Selettore per l'elemento h2 all'interno di .loader-section */
  color: rgb(200, 200, 200); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  align-self: flex-start; /* Allinea l'elemento all'inizio dell'asse trasversale */
}
.hole {
  /* Selettore per la classe .hole */
  display: flex; /* Imposta il display come flex container */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
  justify-content: center; /* Centra gli elementi lungo l'asse principale */
}
i {
  /* Selettore per l'elemento <i> */
  display: block; /* Imposta il display come blocco */
  position: absolute; /* Imposta il posizionamento assoluto */
  width: 50px; /* Imposta la larghezza a 50px */
  height: 50px; /* Imposta l'altezza a 50px */
  border-radius: 140px; /* Imposta il raggio del bordo a 140px */
  opacity: 0; /* Imposta l'opacità a 0 */
  animation-name: scale; /* Specifica il nome dell'animazione */
  animation-duration: 3s; /* Imposta la durata dell'animazione a 3 secondi */
  animation-iteration-count: infinite; /* Imposta l'animazione per ripetersi infinitamente */
  animation-timing-function: linear; /* Imposta la funzione di temporizzazione dell'animazione a lineare */
}
i:nth-child(1) {
  /* Selettore per il primo elemento <i> */
  animation-delay: 0.3s; /* Ritarda l'animazione di 0.3 secondi */
}
i:nth-child(2) {
  /* Selettore per il secondo elemento <i> */
  animation-delay: 0.6s; /* Ritarda l'animazione di 0.6 secondi */
}
i:nth-child(3) {
  /* Selettore per il terzo elemento <i> */
  animation-delay: 0.9s; /* Ritarda l'animazione di 0.9 secondi */
}
i:nth-child(4) {
  /* Selettore per il quarto elemento <i> */
  animation-delay: 1.2s; /* Ritarda l'animazione di 1.2 secondi */
}
i:nth-child(5) {
  /* Selettore per il quinto elemento <i> */
  animation-delay: 1.5s; /* Ritarda l'animazione di 1.5 secondi */
}
i:nth-child(6) {
  /* Selettore per il sesto elemento <i> */
  animation-delay: 1.8s; /* Ritarda l'animazione di 1.8 secondi */
}
i:nth-child(7) {
  /* Selettore per il settimo elemento <i> */
  animation-delay: 2.1s; /* Ritarda l'animazione di 2.1 secondi */
}
i:nth-child(8) {
  /* Selettore per l'ottavo elemento <i> */
  animation-delay: 2.4s; /* Ritarda l'animazione di 2.4 secondi */
}
i:nth-child(9) {
  /* Selettore per il nono elemento <i> */
  animation-delay: 2.7s; /* Ritarda l'animazione di 2.7 secondi */
}
i:nth-child(10) {
  /* Selettore per il decimo elemento <i> */
  animation-delay: 3s; /* Ritarda l'animazione di 3 secondi */
}
@keyframes scale {
  /* Definizione dell'animazione "scale" */
  0% {
    /* Stato iniziale dell'animazione */
    transform: scale(2); /* Scala l'elemento a 2 volte la sua dimensione */
    opacity: 0; /* Imposta l'opacità a 0 */
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5); /* Aggiunge un'ombra alla scatola */
  }
  50% {
    /* Stato al 50% dell'animazione */
    transform: scale(1) translate(0px, -5px); /* Scala l'elemento e lo trasla */
    opacity: 1; /* Imposta l'opacità a 1 */
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5); /* Aggiunge un'ombra alla scatola */
  }
  100% {
    /* Stato finale dell'animazione */
    transform: scale(0.1) translate(0px, 5px); /* Scala l'elemento e lo trasla */
    opacity: 0; /* Imposta l'opacità a 0 */
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0); /* Aggiunge un'ombra alla scatola */
  }
}
/* LOADING WAVE */
.loading-wave-section {
  /* Selettore per la classe .loader-section */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  display: flex; /* Imposta il display come flex container */
  flex-direction: column; /* Organizza gli elementi flex in colonna */
  align-items: center; /* Centra gli elementi lungo l'asse trasversale */
}
.loading-wave-section h2 {
  /* Selettore per l'elemento h2 all'interno di .loader-section */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  align-self: flex-start; /* Allinea l'elemento all'inizio dell'asse trasversale */
}
.loading-wave {
  /* Selettore per la classe .loading-wave */
  width: 300px; /* Imposta la larghezza a 300px */
  height: 100px; /* Imposta l'altezza a 100px */
  display: flex; /* Imposta il display come flex container */
  justify-content: center; /* Centra gli elementi lungo l'asse principale */
  align-items: flex-end; /* Allinea gli elementi al fondo dell'asse trasversale */
}
.loading-bar {
  /* Selettore per la classe .loading-bar */
  width: 20px; /* Imposta la larghezza a 20px */
  height: 10px; /* Imposta l'altezza a 10px */
  margin: 0 5px; /* Aggiunge un margine orizzontale di 5px */
  background-image: linear-gradient(
    /* Applica un gradiente lineare come sfondo */ to right,
    var(--violet-color),
    var(--blue-color)
  );
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.7),
    /* Ombra interna bianca leggera */ 0 0 5px rgba(255, 255, 255, 0.5),
    /* Ombra esterna bianca leggera */ -1px 0 3px var(--violet-color),
    /* Ombra esterna viola a sinistra */ 1px 0 3px var(--blue-color); /* Ombra esterna blu a destra */
  border-radius: 5px; /* Imposta il raggio del bordo a 5px */
  animation: loading-wave-animation 1s ease-in-out infinite; /* Applica l'animazione "loading-wave-animation" */
}
.loading-bar:nth-child(2) {
  /* Selettore per il secondo elemento .loading-bar */
  animation-delay: 0.1s; /* Ritarda l'animazione di 0.1 secondi */
}
.loading-bar:nth-child(3) {
  /* Selettore per il terzo elemento .loading-bar */
  animation-delay: 0.2s; /* Ritarda l'animazione di 0.2 secondi */
}
.loading-bar:nth-child(4) {
  /* Selettore per il quarto elemento .loading-bar */
  animation-delay: 0.3s; /* Ritarda l'animazione di 0.3 secondi */
}
@keyframes loading-wave-animation {
  /* Definizione dell'animazione "loading-wave-animation" */
  0% {
    /* Stato iniziale dell'animazione */
    height: 10px; /* Altezza iniziale a 10px */
  }
  50% {
    /* Stato al 50% dell'animazione */
    height: 50px; /* Altezza al 50% a 50px */
  }
  100% {
    /* Stato finale dell'animazione */
    height: 10px; /* Altezza finale a 10px */
  }
}
/* BUTTON NEON */
.button-neon-section {
  /* Selettore per la classe .orb-section */
  border-top: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo superiore solido */
  border-bottom: solid 2px rgb(58, 58, 58); /* Aggiunge un bordo inferiore solido */
  padding-bottom: 10em; /* Aggiunge un padding inferiore di 10em */
  width: 100%; /* Imposta la larghezza al 100% */
  box-sizing: border-box; /* Include padding e bordo nella larghezza e altezza totali */
  background-color: rgb(58, 58, 58);
  text-align: center; /* Questo centrerà tutti gli elementi inline/inline-block al suo interno */
}
.button-neon-section h2 {
  /* Selettore per l'elemento h2 all'interno di .orb-section */
  color: rgb(200, 200, 200); /* Imposta il colore del testo */
  margin-left: 5rem; /* Aggiunge un margine sinistro di 5rem */
  font-size: 3rem; /* Imposta la dimensione del font a 3rem */
  font-weight: normal; /* Imposta il peso del font a normale */
  text-align: left; /* Assicura che l'h2 non sia influenzato dal text-align: center del genitore */
}
button {
  --glow-color: rgb(
    255,
    255,
    255
  ); /* Bianco, come le ombre interne ed esterne dell'orb */
  --glow-spread-color: rgba(
    138,
    43,
    226,
    0.7
  ); /* Un viola leggermente più trasparente, basato su --violet-color */
  --enhanced-glow-color: rgb(255, 255, 255); /* Bianco più intenso */
  --btn-color: rgb(
    58,
    58,
    58
  ); /* Colore del bottone, puoi pensare a un grigio scuro o un colore scuro che stia bene */
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    /* Ombra esterna bianca */ 0 0 4em 1em var(--glow-spread-color),
    /* Ombra esterna viola */ -0.5em 0 4em 1em var(--blue-color),
    /* Ombra esterna blu (aggiunto per bilanciare) */ inset 0 0 0.75em 0.25em
      var(--glow-color),
    /* Ombra interna bianca */ inset 0.5em 0 1em 0.25em var(--violet-color),
    /* Ombra interna viola */ inset -0.5em 0 1em 0.25em var(--blue-color); /* Ombra interna blu */
  position: relative;
  transition: all 0.3s;
}
.button-neon::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
.button-neon:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    /* Aumento della diffusione del glow viola */ -0.5em 0 4em 2em var(--blue-color),
    /* Aumento della diffusione del glow blu */ inset 0 0 0.75em 0.25em
      var(--glow-color),
    inset 0.5em 0 1em 0.25em var(--violet-color),
    inset -0.5em 0 1em 0.25em var(--blue-color);
}
.button-neon:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color), -0.5em 0 2.5em 2em var(--blue-color),
    inset 0 0 0.5em 0.25em var(--glow-color),
    inset 0.5em 0 0.75em 0.25em var(--violet-color),
    inset -0.5em 0 0.75em 0.25em var(--blue-color);
}
/* FOOTER */
footer {
  /* Selettore per l'elemento footer */
  width: 100%; /* Imposta la larghezza al 100% */
  text-align: center; /* Allinea il testo al centro */
  padding: 10px; /* Aggiunge un padding di 10px su tutti i lati */
  font-family: "Quicksand", sans-serif; /* Imposta il font */
  font-size: 1rem; /* Imposta la dimensione del font a 1rem */
  margin-top: auto; /* Spinge il footer verso il basso */
  background: rgba(255, 255, 255, 0.1); /* Imposta lo sfondo con opacità */
  backdrop-filter: blur(30px); /* Applica un filtro di sfocatura allo sfondo */
  box-shadow: 0 0 3px black; /* Aggiunge un'ombra alla scatola */
  border-top: solid 1px rgba(0, 0, 0, 0.1); /* Aggiunge un bordo superiore solido */
  text-decoration: none; /* Rimuove la sottolineatura dal testo */
}
footer a {
  /* Selettore per gli elementi <a> all'interno del footer */
  color: rgb(58, 58, 58); /* Imposta il colore del testo */
  text-decoration: none; /* Rimuove la sottolineatura dal testo */
}
footer a:hover {
  /* Selettore per gli elementi <a> al passaggio del mouse */
  background: linear-gradient(
    to right,
    var(--blue-color),
    var(--violet-color)
  ); /* Applica un gradiente lineare come sfondo */
  -webkit-background-clip: text; /* Clipa lo sfondo al testo (per WebKit) */
  -webkit-text-fill-color: transparent; /* Rende il testo trasparente per mostrare il gradiente (per WebKit) */
  transform: scale(1.5); /* Ingrandisce il testo al 150% */
  color: var(--blue-color); /* Imposta il colore del testo */
  cursor: pointer; /* Cambia il cursore a "pointer" */
  text-decoration: underline; /* Aggiunge una sottolineatura al testo */
}
